.numeroFactura{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.numeroFactura p {
    margin-left: 5px;
    font-size: 30px;
}
.numeroFactura label{
    font-size: 30px;
}
.taula{
    width: 100%;
}
.grid{
    margin-top: 30px;
}

.base{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}
.iva{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.separador{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.total{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.label{
    margin-right: 10px;
}